@model EmployeeDetail

<div asp-validation-summary="ModelOnly" class="text-danger"></div>

<div class="form-group">
    <label asp-for="DateOfBirth" class="control-label"></label>
    <input asp-for="DateOfBirth" class="form-control" />
    <span asp-validation-for="DateOfBirth" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Address" class="control-label"></label>
    <input asp-for="Address" class="form-control" />
    <span asp-validation-for="Address" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="PostalCode" class="control-label"></label>
    <input asp-for="PostalCode" class="form-control" />
    <span asp-validation-for="PostalCode" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="AlternatePhoneNumber" class="control-label"></label>
    <input asp-for="AlternatePhoneNumber" class="form-control" />
    <span asp-validation-for="AlternatePhoneNumber" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="EmergencyPhoneNumber" class="control-label"></label>
    <input asp-for="EmergencyPhoneNumber" class="form-control" />
    <span asp-validation-for="EmergencyPhoneNumber" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="City" class="control-label"></label>
    <input asp-for="City" class="form-control" />
    <span asp-validation-for="City" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="ProvinceState" class="control-label"></label>
    <input asp-for="ProvinceState" class="form-control" />
    <span asp-validation-for="ProvinceState" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Country" class="control-label"></label>
    <input asp-for="Country" class="form-control" />
    <span asp-validation-for="Country" class="text-danger"></span>
</div>