@model Employee

<h1> Edit employee information for: @Model.FirstName, @Model.LastName </h1>

<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="Edit" role="form">

            <partial name="_EmployeeCard" />

            <div class="form-group">
                <div class="col-md-offset-2 col-md-5">
                    <input type="submit" class="btn btn-primary" asp-controller="Employee" asp-action="Update" asp-route-id="@Model.EmployeeID" value="Update" />
                </div>
            </div>
        </form>
    </div>
</div>