@model Employee

<h1> Add new employee </h1>


<form method="post" asp-action="Add" role="form">

    <partial name="_EmployeeCard" />

    <div class="row">
            <div class="col-md-offset-2 col-md-6">
                <input type="submit" class="btn btn-primary" value="Add" />
            </div>
            <div class="col-md-offset-2 col-md-6">
                <input type="submit" class="btn btn-primary" asp-controller="Employee" asp-action="Cancel" value="Cancel" />
            </div>
        </div>
</form>